body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

nav h1 {
    margin: 0;
    padding: 10px 0;
}

.wrap {
    width: 100%;
    grid-template-rows: 56px auto;
    background-color: #000;
}

nav {
    background-color: #444;
    color: white;
    margin-bottom: 50px;
}

.nav-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

li {
    list-style: none;
    margin-right: 20px;
}

.page-width {
    width: 1288px;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 862px auto;
    column-gap: 5px;
}

.featured-article h1 {
    font-weight: 800;
    font-size: 2rem;
    padding: 30px 20px;
    margin: 0;
    background-color: rgba(0, 0, 0, .5);
}

section {
    color: white;
}

.second-area {
    background-color: #FFF;
}

.second-area section {
    color: #222;
}

.featured-article {
    border: solid 1px #555;
    height: 400px;
    display: flex;
    align-items: flex-end;
    background-image: url("http://placekitten.com/200/200");
    background-size: cover;
}

.other-articles {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5px;
}

.other-articles div {
    border: solid 1px #666;
}

.other-articles h2 {
    font-size: 1rem;
    padding: 20px;
    line-height: 1.9;
}

.article {
    display: flex;
    align-items: center;
}

.releases {
    display: flex;
    justify-content: space-around;
}

.releases-expensive h2 {
    color: #222;
}

.album-cover {
    border: solid 1px #333;
    height: 200px;
    width: 200px;
    background-image: url("http://placekitten.com/200/200");
}

.releases h2 {
    padding: 15px;
}

.see-more {
    text-align: right;
    font-size: .9rem;
    padding-top: 30px;
    padding-bottom: 60px;
}

.releases h4, .releases h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.first-area h4, .first-area h5 {
    color: #999;
}

.album-title {
    padding: 10px;
}

.album {
    width: 200px;
}